@import '_colors'

.word 
  cursor: pointer
  font-size: x-large
  background-color: $secondary-one
  border-radius: 5px
  margin: 10px
  padding: 5px
  text-align: center

  &:hover
    background-color: $secondary-two
    color: white

  &--picked
    background-color: $secondary-third
    color: white

    &:hover
      background-color: $secondary-third
      color: white
